/dts-v1/;
/plugin/;

/ {
        compatible = "brcm,bcm2835";

        // Enable the SPI controller
        fragment@0 {
                target = <&spi0>;
                __overlay__ {
                        status = "okay";
                };
        };

        // Enabling the SPI controller also enables spidev on cs0, so we have disable it
        fragment@1 {
                target = <&spidev0>;
                __overlay__ {
                        status = "disabled";
                };
        };

        fragment@2 {
                target = <&spi0>;
                __overlay__ {
                        /* needed to avoid dtc warning */
                        #address-cells = <1>;
                        #size-cells = <0>;

                        display: display@0{
                                // MIPI DBI compatible driver
                                // This driver is used because it can ignore an illegal rotate value
                                // and doesn't have a set_gamma() function.
                                compatible = "ilitek,ili9341";
                                reg = <0>; // Chip Select 0

                                spi-max-frequency = <32000000>; // 32MHz

                                reset-gpios = <&gpio 25 1>; // reset is active low hence the 1
                                dc-gpios = <&gpio 24 0>;
                                led-gpios = <&gpio 18 0>;

                                width = <320>;
                                height = <320>;
                                buswidth = <8>; // Most controllers use this value

                                // This is a hack to prevent fb_s6d02a1.c:set_var() from issuing
                                // command 0x36 after the init sequence has been applied and thus
                                // changing the config.
                                //rotate = <180>;


                                // see drivers/staging/fbtft/fb_ili9341.c:init_display() for how this looks in the driver
                                // Command 0x36 is taken from the fb_ili9341.c:set_var() function.
                                 init = <0x1000001
                                        0x2000005
                                        0x1000028
                                        0x10000cf 0x00 0x83 0x30
                                        0x10000ed 0x64 0x03 0x12 0x81
                                        0x10000e8 0x85 0x01 0x79
                                        0x10000cb 0x39 0x2c 0x00 0x34 0x02
                                        0x10000ea 0x00 0x00
                                        0x10000c0 0x17 0x15
                                        0x10000c1 0x41
                                        0x10000c5 0x00 0x12 0x80
                                        0x1000036 0x48
                                        0x100003a 0x55
                                        0x10000b0 0x00
                                        0x10000b1 0xd0 0x11
                                        0x1000021
                                        0x10000b4 0x02
                                        0x10000b6 0x02 0x02 0x3b
                                        0x10000b7 0xc6
                                        0x10000e9 0x00
                                        0x10000f7 0xa9 0x51 0x2c 0x82
                                        0x10000e0 0x00 0x03 0x09 0x08 0x16 0x0a 0x3f 0x78 0x4c 0x09 0x0a 0x08 0x16 0x1a 0x0f
                                        0x10000e1 0x00 0x16 0x19 0x03 0x0f 0x05 0x32 0x45 0x46 0x04 0x0e 0x0d 0x35 0x37 0x0f
                                        0x1000011
                                        0x2000064
                                        0x1000029
                                        0x2000064>;

                                debug = <0x4000000>; // print init commands to the kernel log
                        };
                };
        };
};
